#marketTitle {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-weight: 600;
    font-size: 25.53px;
    line-height: 28.3px;

    @media (max-width: 576px) {
      font-size: 18px;
      max-width: 125px;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 32px;
    border-radius: 100px;
    border: 1px solid black;
    background-color: #f6f6f6;
    font-weight: 700;
    font-size: 18.78px;
    line-height: 28.17px;
    transition: all .2s ease;
    width: 160px !important;
    height: 40px;

    &:hover {
      background-color: #2F2F2F;
      color: white;
    }
  }
}