#adminLeftMenu {
  background-color: #F3F3F3;
  width: 290px;
  height: calc(100vh - 53px);
  padding: 10px 16px;
  border-top-left-radius: 15px;
  margin-top: 53px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .link1 {
    background-color: #eaeaea;
  }
  .link {
    padding: 8px 16px;
    margin-top: 5px;
    border-radius: 10px;
    font-size: 16px;
    color: #303030;
    font-weight: 500;
    display: flex;
    gap: 10px;
    align-items: center;

    .icon {
      font-size: 16px;
    }

    &.selected {
      background-color: #FFBB00;
    }
  }
}