#homeMainSlogan {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  background-color: #181818;
  color: white;
  transform: rotate(-3deg);
  font-size: 35px;
  padding: 15px 0;
  margin-bottom: 100px;
  font-weight: 500;
  position: relative;

  .scrolling-text {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 20s linear infinite;

    span {
      display: inline-block;
      padding: 0 50px;
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
