#adminCategoriesMenu {
  margin: 20px 0 0 0;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  tr {
    transition: all .4s ease;
    &:hover {
      background-color: #f3f3f3;
    }
  }

  .textWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      padding: 4px 16px;
      background-color: black;
      color: white;
      border: 1px solid black;
      border-radius: 10px;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 15px;
    margin-top: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;

    .image {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 10px;
      margin-right: 20px;
    }

    .bgbg {
      background-color: #EBEBEB;
      border-left: 1px solid white;
      border-right: 1px solid white;
    }

    tr {
      display: flex;
      align-items: center;
      border-top: 1px solid #D0D0D0;
      padding: 12px 16px;
    }

    th, td, tr {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: start;
    }

    .checkboxWrapper {
      width: 100px;
    }

    button {
      background-color: #FFBB00;
      border: none;
      padding: 4px 16px;
      border-radius: 5px;
    }

    .first {
      border: none;
    }
  }
}
