#marketSwiperHero {
  height: 80vh;

  .bgImage {
    height: 100% ;
    width: 100% ;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    .container{
      height: 100% ;
    }
    .bannerText{
      height: 100% ;
      text-align: start;
      align-content: center;
      h2{
        font-weight: 700;
        font-size: 59.49px;
        margin-bottom: 9px;
        padding: 0 16px;
        color: white;
        line-height: 1.2;
      }
      p{
        font-weight: 300;
        font-size: 20px;
        margin-bottom: 32px;
        padding: 0 16px;
        color: white;
        line-height: 1.5;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 52px;
        border-radius: 100px;
        border: 1.5px solid white;
        background: transparent;
        font-weight: 700;
        font-size: 18.78px;
        line-height: 28.17px;
        transition: all .2s ease;
        font-family: "Poppins", sans-serif;
        margin-left: 16px;
        cursor: pointer;
        color: white;
        //&:hover {
        //  background-color: #2F2F2F;
        //  color: white;
        //}
      }
      @media (max-width: 768px){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}