#marketCollectionPage {
  background-color: #f6f6f6;

  .row {
    padding: 0 8px !important;
  }

  .line {
    height: 1px;
    background-color: #d9d9d9;
    width: 100%;
    margin: 20px 0;
  }

  .icon {
    font-size: 24px;
  }

  .section {
    padding-top: 200px;
    padding-bottom: 30px;
    @media (max-width: 576px) {
      padding-top: 14px;
    }

    .titleWrapper {
      padding: 16px;
      display: flex;
      align-items: center;
      gap: 32px;
      flex-wrap: wrap;

      img {
        width: 220px;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 15px;
        @media (max-width: 576px) {
          width: 100%;
        }
      }

      .textWrapper {
        h2 {
          font-weight: 600;
          font-size: 40px;
          line-height: 60px;
        }

        h3 {
          max-width: 500px;
          width: 100%;
          font-weight: 400;
          font-size: 15.8px;
          line-height: 23.71px;
        }
      }
    }

    .lookOther {
      background-color: #eee;
      padding: 32px;
      border-radius: 30px;
      margin: 50px;
      @media (max-width: 576px) {
        padding: 16px;
        margin: 16px;
      }

      h4 {
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
        text-align: center;
        margin-bottom: 20px;
        @media (max-width: 576px) {
          font-size: 30px;
        }
      }

      .slider-wrapper {
        position: relative;
      }

      .product-slider {
        position: relative;
      }

      .swiper-slide {
        display: flex;
        justify-content: center;
      }

      .swiper-button-prev,
      .swiper-button-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

        .icon {
          color: #000;
        }
      }

      .swiper-button-prev {
        left: 10px;

        .box1 {
          rotate: 180deg;
        }
      }

      .swiper-button-next {
        right: 10px;
      }

      .product-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        @media (max-width: 576px) {
          display: none; // Ensure grid is hidden on mobile
        }
      }
    }
  }
}