#adminProductsMenu {
  margin: 25px 0;
  height: calc(100vh - 130px);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  tr {
    transition: all .4s ease;

    &:hover {
      background-color: #EBEBEB;
    }
  }

  .status {
    background-color: #80FF93;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 1px 10px;
    gap: 5px;

    .dot {
      font-size: 10px;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  h1 {
    font-size: 26px;
  }

  .textWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      padding: 4px 16px;
      background-color: black;
      color: white;
      border: 1px solid black;
      border-radius: 10px;
    }
  }

  .wrapper {
    width: 100%;
    margin-top: 40px;
    background-color: white;
    padding: 32px;
    border-radius: 17px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .box {
      p {
        margin-top: 10px;
        color: gray;
        font-weight: 500;
      }

      button {
        background-color: #FFBB00;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 6px 16px;
        border-radius: 10px;
        border: none;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        font-weight: 700;
        font-size: 18px;
        margin-top: 40px;

        &:hover {
          color: white;
          background-color: #2f2f2f;
          transform: scale(1.1);
        }
      }
    }

    img {
      width: 125px;
      height: 125px;
      object-fit: cover;
      border-radius: 10px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    margin-top: 25px;
    border: 1px solid white;
    overflow: hidden;
    border-radius: 15px;

    .image {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 10px;
      margin-right: 40px;
    }

    .bgbg {
      background-color: #EBEBEB;
      border-left: 1px solid white;
      border-right: 1px solid white;
    }

    tr {
      display: flex;
      align-items: center;
      border-top: 1px solid #D0D0D0;
      padding: 12px 16px;
    }

    th, td, tr {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: start;
    }

    .checkboxWrapper {
      width: 100px;
    }

    button {
      background-color: #FFBB00;
      border: none;
      padding: 4px 16px;
      border-radius: 5px;
    }

    .first {
      border: none;
    }
  }
}