#cSMarketNavbar {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: var(--navbar-bg-color, white); /* Fallback to white if variable not set */
  padding: 16px;

  img {
    width: 100%;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
      width: 270px;
    }

    .links {
      display: flex;
      align-items: center;
      gap: 30px;
      margin-top: 4px;

      .link {
        font-weight: 600;
        font-size: 15px;
        line-height: 22.5px;
        color: var(--navbar-text-color, black); /* Fallback to black if variable not set */
      }
    }

    .search {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;

      input {
        background-color: #f6f6f6;
        padding: 8px 16px;
        border: none;
        border-radius: 10px;
      }

      .icon {
        font-size: 20px;
        color: var(--navbar-text-color, black); /* Apply text color to icon */
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    z-index: 999;
  }
}