#customizeStoreScreens {
  width: 100%;
  height: calc(100vh - 60px);
  font-weight: 500;

  .csplus {
    margin-left: 10px;
    font-size: 20px;
    border-radius: 4px;
    transition: all .2s ease;

    &:hover {
      background-color: white;
    }
  }


  .react-tabs {
    -webkit-tap-highlight-color: transparent;
    background-color: white;

    &__tab-list {
      border-bottom: 1px solid #d9d9d9;
      margin: 0 0 10px;
      padding: 0;
      background-color: #ececec;
      display: flex;
      align-items: center;
    }

    &__tab {
      width: 33.3%;
      text-align: center;
      border: 1px solid transparent;
      border-bottom: none;
      bottom: -1px;
      position: relative;
      list-style: none;
      padding: 6px 12px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;

      &--selected {
        background: #fff;
        border-color: #d9d9d9;
        color: black;
        border-radius: 5px 5px 0 0;
      }

      &--disabled {
        color: GrayText;
        cursor: default;
      }

      &:focus {
        outline: none;

        &:after {
          content: "";
          position: absolute;
          height: 5px;
          left: -4px;
          right: -4px;
          bottom: -5px;
          background: #fff;
        }
      }
    }

    &__tab-panel {
      display: none;
      padding: 16px;

      &--selected {
        display: block;
      }
    }
  }


  .pd-8 {
    padding: 8px;
  }

  .pd-0 {
    padding: 0;
  }

  .pd-16 {
    border-radius: 15px;
    overflow: hidden;
  }

  .firstScreen {
    height: calc(100vh - 60px);
    padding: 0;
    overflow-y: scroll;
  }

  .lastScreen {
    background-color: #ececec;
    height: calc(100vh - 60px);
    overflow-y: scroll;
  }

  .choose {
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    position: relative;

    .sections, .settings {
      padding: 8px;
      font-size: 12px;
      border-radius: 8px;
      transition: all .2s ease;

      &:hover {
        background-color: #f3f3f3;
      }
    }

    .sections {
      background-color: #f3f3f3;
    }
  }

  .heroSettings {
    background-color: #ECECEC;
    margin: 16px 16px 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;

    .inputWrapper {
      display: flex;
      flex-direction: column;

      .label {
        margin-bottom: 2px;
        color: #343A40;
      }

      input, option {
        border: 1px solid #343A40;
        height: 30px;
        border-radius: 4px;
        margin-bottom: 20px;
        padding: 0 10px;
        font-size: 14px;
      }
    }

    select {
      width: 100%;
      border: 1px solid #343A40;
      height: 30px;
      border-radius: 4px;
      margin-bottom: 20px;
      color: #3C3C3C;
      padding: 0 8px;
      font-size: 14px;

      option {
        border: 1px solid #343A40;
        height: 30px;
        border-radius: 4px;
        margin-bottom: 20px;
        width: 100%;
      }
    }
  }

  .settingsContent {
    padding: 16px;
    transition: all .2s ease;

    .accordion-item {
      border-bottom: 1px solid #d9d9d9;
      border-radius: 4px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      background-color: #fff;
      overflow: hidden;
      padding: 8px 16px;

      .accordion-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
        cursor: pointer;
        font-weight: 500;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: #f5f5f5;
        }

        .arrow {
          width: 8px;
          height: 8px;
          border-right: 2px solid #333;
          border-bottom: 2px solid #333;
          transform: rotate(45deg);
          transition: transform 0.3s ease;

          &.up {
            transform: rotate(-135deg);
          }

          &.down {
            transform: rotate(45deg);
          }
        }
      }

      .accordion-content {
        padding: 12px;
        background-color: white;
      }
    }
  }

  .myWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    margin: 0 0 30px;

    .name {
      width: 250px;
    }

    textarea {
      border-radius: 10px;
      border: 1px solid gray;
      resize: vertical;
    }

    input, textarea {
      border: 1px solid black;
      width: 100%;
    }

    input[type="range"] {
      -webkit-appearance: none; /* Remove default styling on Safari/Chrome */
      width: 100px; /* Adjust the width to your preference */
      background: transparent; /* So we can style the track fully */

      /* Track */
      &::-webkit-slider-runnable-track {
        height: 4px;
        background: repeating-linear-gradient(
                        to left,
                        black 4px,
                        black 0,
                        transparent 100px,
                        transparent 100px
        );
        border-radius: 2px;
      }

      &::-moz-range-track {
        height: 4px;
        background: repeating-linear-gradient(
                        to right,
                        #ccc 0,
                        #ccc 4px,
                        transparent 4px,
                        transparent 8px
        );
        border-radius: 2px;
      }

      /* Thumb (the black dot) */
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #000;
        margin-top: -6px; /* center the thumb vertically on the track */
        cursor: pointer;
      }

      &::-moz-range-thumb {
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #000;
        cursor: pointer;
      }
    }

    span {
      margin-right: 10px;
    }
  }

  .myWrapper1 {
    display: flex;
    flex-direction: column;

    select, option {
      width: 100%;
      height: 35px;
      border-radius: 5px;
      padding: 0 8px;
      margin-top: 10px;
    }
  }

  .wrapper2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .myName {
      margin-top: 10px;
    }

    .box {
      width: 100%;
      border: 1px solid #acacac;
      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      flex-direction: column;
    }
  }


  .wrapperBlack {
    .box {
      background-color: black;
      color: white;
    }
  }

  .plus {
    font-size: 30px;
    font-weight: 300;
  }

  .rengBoxu {
    width: 20px;
    height: 10px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid black;
  }

  .rengBoxu1 {
    background-color: black;
  }

  .rengBoxu2 {
    border: 1px solid white;
    background-color: black;
  }

  .add-color-form-container {
    width: 100%;

    .form-group {
      display: flex;
      margin: 20px 0;
    }

    label {
      width: 250px;
    }

    input {
      width: 100%;
      height: 35px;
      padding: 0 8px;
      border-radius: 5px;
      border: 1px solid #888888;
    }
  }
}