#adminHomePage {
  width: 100%;
  background-color: black;
  height: calc(100vh - 53px);

  .wrapper {
    display: flex;
    flex-direction: row;

    .adminWrapper {
      padding: 10px 0;
      width: 100%;
      background-color: #F1F1F1;
      border-top-right-radius: 15px;
      margin-top: 53px;
    }
  }
}