#marketAboutPage {
  background-color: #f6f6f6;

  * {
    font-family: 'Poppins', sans-serif;
  }

  .section123 {
    padding-top: 220px;
    padding-bottom: 180px;
    padding-left: 16px;
    padding-right: 16px;
    @media (max-width: 576px) {
      padding-top: 14px;
    }
    .titleWrapper {
      display: flex;
      align-items: center;
      gap: 64px;
      flex-wrap: wrap;
      img {
        width: 300px;
        aspect-ratio: 1/1;
        object-fit: contain;
        filter: brightness(0);
        border-radius: 20px;
        @media (max-width: 576px) {
          width: 100%;
        }
      }
    }

    .textWrapper {
      h2 {
        font-weight: 600;
        font-size: 52.9px;
        line-height: 79.35px;
      }

      h3 {
        font-weight: 400;
        font-size: 15.8px;
        line-height: 23.71px;
      }
    }
  }
}