#homeNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1A1A1A;
  padding: 12px 24px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 950;

  * {
    font-family: "Space Grotesk", sans-serif;
  }

  img {
    height: 40px;
  }

  .drawer {
    display: none; /* Hidden by default */
  }

  ul {
    display: flex;
    align-items: center;
    gap: 24px;
    color: white;

    .link {
      color: white;
    }

    .logInBtn {
      text-decoration: underline;
      color: white;
    }

    .signUpBtn {
      padding: 8px 34px;
      background: linear-gradient(347deg, rgba(234, 220, 155, 1) 0%, rgba(254, 226, 94, 1) 100%);
      border-radius: 20px;
      font-weight: 500;
      color: black;
    }
  }

  @media screen and (max-width: 992px) {
    ul {
      display: none; /* Hide nav links on mobile */
    }

    .drawer {
      display: block; /* Show drawer on mobile */
    }

    img {
      height: 30px;
    }
  }
}