#homeBanner {
  height: calc(100vh - 64px);
  width: 100%;
  background-color: #FFE25E;
  text-align: center;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    font-size: 55px;
    font-weight: 500;
    margin: 0 0 20px;
  }

  h4 {
    max-width: 600px;
    width: 100%;
    margin: 0 auto 50px;
  }

  .link {
    background-color: white;
    color: black;
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 25px;
    font-size: 20px;
  }

  h6 {
    margin-top: 30px;
  }

  .img {
    max-width: 800px;
    margin: 50px auto 0;

    img {
      height: 350px;
      width: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 50px;
    }
  }
}