@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

*:hover {
  cursor: pointer;
}

body {
  overflow-x: hidden;
}

a, button {
  cursor: pointer;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.container1 {
  max-width: 1000px;
  margin: 0 auto;
}

.container3 {
  max-width: 1500px;
  margin: 0 auto;
}

.container2 {
  max-width: 700px;
  margin: 0 auto;
}

.container4 {
  max-width: 1200px;
  margin: 0 auto;
}

th, td, tr, table {
  width: max-content;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}


.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: calc(100% / 12 * 1);
  padding: 16px;
}

.col-2 {
  width: calc(100% / 12 * 2);
  padding: 16px;
}

.col-3 {
  width: calc(100% / 12 * 3);
  padding: 16px;
}

.col-4 {
  width: calc(100% / 12 * 4);
  padding: 16px;
}

.col-5 {
  width: calc(100% / 12 * 5);
  padding: 16px;
}

.col-6 {
  width: calc(100% / 12 * 6);
  padding: 16px;
}

.col-7 {
  width: calc(100% / 12 * 7);
  padding: 16px;
}

.col-8 {
  width: calc(100% / 12 * 8);
  padding: 16px;
}

.col-9 {
  width: calc(100% / 12 * 9);
  padding: 16px;
}

.col-10 {
  width: calc(100% / 12 * 10);
  padding: 16px;
}

.col-11 {
  width: calc(100% / 12 * 11);
  padding: 16px;
}

.col-12 {
  width: calc(100% / 12 * 12);
  padding: 16px;
}

@for $i from 1 through 60 {
  .col-#{$i}-60 {
    width: calc(100% / 60 * #{$i});
    padding: 16px;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  @for $i from 1 through 60 {
    .col-md-#{$i}-60 {
      width: calc(100% / 60 * #{$i});
      padding: 16px;
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  @for $i from 1 through 60 {
    .col-sm-#{$i}-60 {
      width: calc(100% / 60 * #{$i});
      padding: 16px;
    }
  }
}

@media screen and (max-width: 576px) {
  @for $i from 1 through 60 {
    .col-xs-#{$i}-60 {
      width: calc(100% / 60 * #{$i});
      padding: 16px;
    }
  }
}

/* for tablet */
@media screen and (max-width: 992px) and (min-width: 768px) {
  .col-md-1 {
    width: calc(100% / 12 * 1);
    padding: 16px;
  }

  .col-md-2 {
    width: calc(100% / 12 * 2);
    padding: 16px;
  }

  .col-md-3 {
    width: calc(100% / 12 * 3);
    padding: 16px;
  }

  .col-md-4 {
    width: calc(100% / 12 * 4);
    padding: 16px;
  }

  .col-md-5 {
    width: calc(100% / 12 * 5);
    padding: 16px;
  }

  .col-md-6 {
    width: calc(100% / 12 * 6);
    padding: 16px;
  }

  .col-md-7 {
    width: calc(100% / 12 * 7);
    padding: 16px;
  }

  .col-md-8 {
    width: calc(100% / 12 * 8);
    padding: 16px;
  }

  .col-md-9 {
    width: calc(100% / 12 * 9);
    padding: 16px;
  }

  .col-md-10 {
    width: calc(100% / 12 * 10);
    padding: 16px;
  }

  .col-md-11 {
    width: calc(100% / 12 * 11);
    padding: 16px;
  }

  .col-md-12 {
    width: calc(100% / 12 * 12);
    padding: 16px;
  }
}

/* for large phone */
@media screen and (max-width: 768px) and (min-width: 576px) {
  .col-sm-1 {
    width: calc(100% / 12 * 1);
    padding: 16px;
  }

  .col-sm-2 {
    width: calc(100% / 12 * 2);
    padding: 16px;
  }

  .col-sm-3 {
    width: calc(100% / 12 * 3);
    padding: 16px;
  }

  .col-sm-4 {
    width: calc(100% / 12 * 4);
    padding: 16px;
  }

  .col-sm-5 {
    width: calc(100% / 12 * 5);
    padding: 16px;
  }

  .col-sm-6 {
    width: calc(100% / 12 * 6);
    padding: 16px;
  }

  .col-sm-7 {
    width: calc(100% / 12 * 7);
    padding: 16px;
  }

  .col-sm-8 {
    width: calc(100% / 12 * 8);
    padding: 16px;
  }

  .col-sm-9 {
    width: calc(100% / 12 * 9);
    padding: 16px;
  }

  .col-sm-10 {
    width: calc(100% / 12 * 10);
    padding: 16px;
  }

  .col-sm-11 {
    width: calc(100% / 12 * 11);
    padding: 16px;
  }

  .col-sm-12 {
    width: calc(100% / 12 * 12);
    padding: 16px;
  }
}

/* for small phone */
@media screen and (max-width: 576px) {
  .col-xs-1 {
    width: calc(100% / 12 * 1);
    padding: 16px;
  }

  .col-xs-2 {
    width: calc(100% / 12 * 2);
    padding: 16px;
  }

  .col-xs-3 {
    width: calc(100% / 12 * 3);
    padding: 16px;
  }

  .col-xs-4 {
    width: calc(100% / 12 * 4);
    padding: 16px;
  }

  .col-xs-5 {
    width: calc(100% / 12 * 5);
    padding: 16px;
  }

  .col-xs-6 {
    width: calc(100% / 12 * 6);
    padding: 16px;
  }

  .col-xs-7 {
    width: calc(100% / 12 * 7);
    padding: 16px;
  }

  .col-xs-8 {
    width: calc(100% / 12 * 8);
    padding: 16px;
  }

  .col-xs-9 {
    width: calc(100% / 12 * 9);
    padding: 16px;
  }

  .col-xs-10 {
    width: calc(100% / 12 * 10);
    padding: 16px;
  }

  .col-xs-11 {
    width: calc(100% / 12 * 11);
    padding: 16px;
  }

  .col-xs-12 {
    width: calc(100% / 12 * 12);
    padding: 16px;
  }
}

@media screen and (max-width: 992px) {
  #userForgotPasswordPage {

    .row {
      justify-content: center;
      height: 100vh;
    }

    .col {
      display: none;
    }

    .col1 {
      .formWrapper {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }

  #userBackLogo {

    .icon {
      font-size: 40px;
    }

    .img {
      img {
        height: 40px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #userNavbar {
    ul {
      display: none;
    }
  }

  #userHomeBanner {
    h2 {
      font-size: 40px;
    }
  }

  #userHomeSectOne {
    h2 {
      font-size: 40px;
    }
  }


  #userHomeSectFour {
    padding: 0 16px;

    .col1 {
      border-radius: 55px;

      .wrapper {
        padding: 32px 16px;

        .title {
          justify-content: center;
        }
      }

      .wrapper1 {
        border-radius: 55px;
        padding: 32px 16px;
      }
    }

    .col2 {
      padding: 32px 16px;
    }
  }
}

.iconPlus {
  border: 1px solid gray;
  border-radius: 3px;
}

@mixin custom-scrollbar($thumb-color, $track-color, $width, $radius) {
  &::-webkit-scrollbar {
    width: $width;
    height: $width;
  }
  &::-webkit-scrollbar-track {
    background: $track-color;
    border-radius: $radius;
  }
  &::-webkit-scrollbar-thumb {
    background: $thumb-color;
    border-radius: $radius;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: darken($thumb-color, 10%);
  }
  scrollbar-width: thin;
  scrollbar-color: $thumb-color $track-color;
}

.my-scrollable-element {
  overflow: auto;
  @include custom-scrollbar(#d5d5d5, white, 8px, 4px);
}
